@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
input {
  color: #e9ecef;
}
input:hover {
  border: 2px solid #fff;
}
body {
  background: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-title {
  position: relative;
  font-size: 10vmin;
  color: #fff;
  font-weight: 600;
}

.set-time {
  visibility: visible; /* *********** visibility None ************ */
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  max-height: 350px;
  overflow: hidden;
  /* border: 2px solid greenyellow; */
}

.set-time-title {
  margin-top: 20px;
}

.set-time-title input {
  font-size: 18px;
  width: 500px;
  height: 45px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
  background: #000;
}

.set-time-box {
  margin-top: 2vh;
  display: flex;
  gap: 20px;
}

.set-time-box input {
  text-align: center;
  outline: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  outline: none;
  /* border: 1.4px solid #fff; */
  border: none;
  border-radius: 3px;
  background: #000;
}

.btns {
  margin-top: 6vh;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.btns button {
  cursor: pointer;
  width: 100px;
  height: 35px;
  outline: none;
  border-radius: 4px;
  color: #000000;
  border: 2px solid black;
  font-weight: 500;
  font-size: 17px;
}
.btns :last-child {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
}
/* *********** Suggestion CSS************ */
#quick {
  visibility: visible; /* *********** visibility None ************ */
  color: #e9ecef;
  margin-top: -60px;
}

.suggestiion {
  visibility: visible; /* *********** visibility None ************ */
  margin-top: 25px;
  width: 550px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.suggestiion .sug-box {
  border-radius: 50%;
  width: 120px;
  height: 130px;
  margin: auto;
  place-content: center;
  text-align: center;
  background: #161a1c;
  color: rgb(149, 149, 149);
}

/* *********** timer CSS************ */
.display-time {
  visibility: hidden; /* *********** Display None ************ */
  position: absolute;
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid white; */
}
.display-time .display-task {
  font-size: 35px;
  font-weight: 400;
  color: #e9ecef;
}

.display-countdown {
  margin: 20px 0;
  font-size: 50px;
  display: flex;
  color: #fcf9ff;
  font-weight: 400;
}

.display-time .message {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  margin: 0 auto;
  color: #e9ecef;
  visibility: hidden;
}

/* ****************** Responsive design  ******************* */

/* Extra Small Devices */
@media (max-width: 470px) {
  #main-title {
    margin-top: 17px;
    font-weight: 400;
    font-size: 7vmin;
  }

  .set-time-title input {
    font-size: 14px;
    width: 280px;
    height: 35px;
  }
  .set-time-box input {
    width: 50px;
    height: 30px;
    font-size: 12px;
  }

  .btns {
    margin-top: 4vh;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
  .btns button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-weight: 400;
    font-size: 13px;
    border: none;
  }
  .btns :last-child {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
  }

  #quick {
    margin-top: -100px;
    font-size: 25px;
    font-weight: 400;
  }

  .suggestiion {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
  }
  .suggestiion .sug-box {
    font-size: 14px;
    width: 100px;
    height: 100px;
    place-content: center;
    text-align: center;
  }
}

/* Small Devices */
@media (min-width: 470px) and (max-width: 767px) {
  #main-title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 6vmin;
  }

  .set-time {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    max-height: 350px;
  }

  .set-time-title {
    margin-top: 20px;
  }

  .set-time-title input {
    font-size: 16px;
    width: 350px;
    height: 40px;
  }
  .set-time-box input {
    text-align: center;
    outline: none;
    width: 70px;
    height: 35px;
    font-size: 14px;
  }

  #quick {
    margin-top: -60px;
    font-size: 25px;
    font-weight: 400;
  }

  .suggestiion {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
    min-height: 400px;
    justify-content: space-around;
  }
  .suggestiion .sug-box {
    font-size: 14px;
    width: 100px;
    height: 100px;
    place-content: center;
    text-align: center;
  }
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 991px) {
  #main-title {
    position: relative;
    font-size: 8vmin;
    font-weight: 500;
  }

  #quick {
    margin-top: -60px;
  }

  .suggestiion {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
    min-height: 400px;
    justify-content: space-around;
  }
  .suggestiion .sug-box {
    font-size: 14px;
    width: 100px;
    height: 100px;
    place-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
}
